@page
@model Back_Office_Web_Application.Pages.Stock.EditModel

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stock.Id" />
            <div class="form-group">
                <label asp-for="Stock.ProductId" class="control-label">ID Товара</label>
                <select asp-for="Stock.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="Stock.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.StatusId" class="control-label">Статус</label>
                <select asp-for="Stock.StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="Stock.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.ReceiptDate" class="control-label">Дата прибытия</label>
                <input asp-for="Stock.ReceiptDate" class="form-control" />
                <span asp-validation-for="Stock.ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock.SellDate" class="control-label">Дата продажи</label>
                <input asp-for="Stock.SellDate" class="form-control" />
                <span asp-validation-for="Stock.SellDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="#" onclick="history.back()">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
