@page
@model Back_Office_Web_Application.Pages.Account.AccessDeniedModel
@{
	ViewData["Title"] = "Доступ запрещен";
}

<h1>Доступ запрещен</h1>
<p>У вас недостаточно прав для перехода на эту страницу</p>
