@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Выберите раздел</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4">
		<a asp-page="Products/Index" class="block-link">
			<div class="floating-block transition">
				<h4>Список товаров</h4>
				<p>Добавление, редактирование и удаление товаров</p>
			</div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4">
		<a asp-page="Stock/Index" class="block-link">
			<div class="floating-block transition">
				<h4>Склад</h4>
				<p>Просмотр и добавление списка товаров на складе</p>
			</div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4">
		<a class="block-link">
			<div class="floating-block transition">
				<h4>Обработка заказов</h4>
				<p>Работа с заказами, ожидающих обработки</p>
			</div>
		</a>
	</div>
</div>

